.App {
  text-align: center;
}

.HeaderContainer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(145, 239, 170);
  color: white;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;

  a {
    margin-right: 30px;
  }
}

.title {
  font-size: 30px;
  margin-left: 30px;
}

.ThreadContainer {
  background-color: darkgrey;
  margin: 0 0 0 0;
  padding-top: 0;
  height: 900px;
}

.contentTitle {
  font-size: 30px;
  text-align: left;

  /* もうちょっと綺麗なそろえ方はないか質問 */
  margin-left: 370px;
}

.thread {
  background-color: white;
  width: 500px;
  height: 50px;
  margin: 0 auto;
  text-align: left;
  border: 1px solid black;
  padding-left: 10px;
}